@model ModelEmpleadosDepartamento

@{
    int numRegistros = 0;
    int posicion = 1;
    int dept = 0;
    if (ViewData["REGISTROS"] != null)
    {
        numRegistros = (int)ViewData["REGISTROS"];
        dept = (int)ViewData["DEPARTAMENTO"];
        posicion = (int)ViewData["POSICION"];
    }
}
<h1>Empleados Registro Departamento</h1>

<p>
	<a asp-controller="Practica" asp-action="Index">Volver a departamentos</a>
</p>

@if(Model != null){
	<ul class="list-group">
		<li class="list-group-item list-group-item-danger">IdDepartamento: @Model.Departamento.IdDepartamento</li>
        <li class="list-group-item list-group-item-info">Nombre: @Model.Departamento.Nombre</li>
        <li class="list-group-item list-group-item-info">Localidad: @Model.Departamento.Localidad</li>
	</ul>

	<h1>Registro @posicion de @Model.NumeroRegistros</h1>

    <div>
        <ul class="list-group list-group-horizontal">
            <li class="list-group-item">
                <a asp-controller="Practica" asp-action="Details" asp-route-idDepartamento="@dept" asp-route-posicion="1">Primero</a>
            </li>
            <li class="list-group-item">
                <a asp-controller="Practica" asp-action="Details" asp-route-idDepartamento="@dept" asp-route-posicion="@ViewData["ANTERIOR"]">Anterior</a>
            </li>
            <li class="list-group-item">
                <a asp-controller="Practica" asp-action="Details" asp-route-idDepartamento="@dept" asp-route-posicion="@ViewData["SIGUIENTE"]">Siguiente</a>
            </li>
            <li class="list-group-item">
                <a asp-controller="Practica" asp-action="Details" asp-route-idDepartamento="@dept" asp-route-posicion="@ViewData["ULTIMO"]">Ultimo</a>
            </li>
        </ul>
    </div>
    <hr/>
    <ul class="list-group">
        @foreach (Empleado emp in Model.Empleado)
        {
            <li class="list-group-item list-group-item-info">
                Id Empleado: @emp.IdEmpleado
            </li>
            <li class="list-group-item list-group-item-info">
                Apellido: @emp.Apellido
            </li>
            <li class="list-group-item list-group-item-info">
                Oficio: @emp.Oficio
            </li>
            <li class="list-group-item list-group-item-info">
                Salario: @emp.Salario
            </li>
            <li class="list-group-item list-group-item-info">
                Departamento: @emp.IdDepartamento
            </li>
        }
    </ul>

}